In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as cnv
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import sklearn.metrics as metrics

In [2]:
df = pd.read_csv("colon.csv").drop("Unnamed: 0", axis=1).dropna()
df

,id,study,sex,age,obstruct,perfor,adhere,nodes,status,differ,extent,surg,node4,time,etype
0,1,1,1,43,0,0,0,5.0,1,2.0,3,0,1,1521,2
1,1,1,1,43,0,0,0,5.0,1,2.0,3,0,1,968,1
2,2,1,1,63,0,0,0,1.0,0,2.0,3,0,0,3087,2
3,2,1,1,63,0,0,0,1.0,0,2.0,3,0,0,3087,1
4,3,1,0,71,0,0,1,7.0,1,2.0,2,0,1,963,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853,927,1,1,76,0,0,1,1.0,1,3.0,3,0,0,851,1
1854,928,1,0,48,1,0,0,4.0,0,2.0,3,1,1,2072,2
1855,928,1,0,48,1,0,0,4.0,0,2.0,3,1,1,2072,1
1856,929,1,0,66,1,0,0,1.0,0,2.0,3,0,0,1820,2
1857,929,1,0,66,1,0,0,1.0,0,2.0,3,0,0,1820,1

In [3]:
df.drop(["id"], axis=1, inplace=True)

In [4]:
df

,study,sex,age,obstruct,perfor,adhere,nodes,status,differ,extent,surg,node4,time,etype
0,1,1,43,0,0,0,5.0,1,2.0,3,0,1,1521,2
1,1,1,43,0,0,0,5.0,1,2.0,3,0,1,968,1
2,1,1,63,0,0,0,1.0,0,2.0,3,0,0,3087,2
3,1,1,63,0,0,0,1.0,0,2.0,3,0,0,3087,1
4,1,0,71,0,0,1,7.0,1,2.0,2,0,1,963,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853,1,1,76,0,0,1,1.0,1,3.0,3,0,0,851,1
1854,1,0,48,1,0,0,4.0,0,2.0,3,1,1,2072,2
1855,1,0,48,1,0,0,4.0,0,2.0,3,1,1,2072,1
1856,1,0,66,1,0,0,1.0,0,2.0,3,0,0,1820,2
1857,1,0,66,1,0,0,1.0,0,2.0,3,0,0,1820,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1776 entries, 0 to 1857
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   study     1776 non-null   int64
 1   sex       1776 non-null   int64
 2   age       1776 non-null   int64
 3   obstruct  1776 non-null   int64
 4   perfor    1776 non-null   int64
 5   adhere    1776 non-null   int64
 6   nodes     1776 non-null   float64
 7   status    1776 non-null   int64
 8   differ    1776 non-null   float64
 9   extent    1776 non-null   int64
 10  surg      1776 non-null   int64
 11  node4     1776 non-null   int64
 12  time      1776 non-null   int64
 13  etype     1776 non-null   int64
dtypes: float64(2), int64(12)
memory usage: 208.1 KB

In [6]:
x = df.drop("etype", axis=1)
y = df["etype"]

In [7]:
y

0       2
1       1
2       2
3       1
4       2
       ..
1853    1
1854    2
1855    1
1856    2
1857    1
Name: etype, Length: 1776, dtype: int64

In [8]:
x

,study,sex,age,obstruct,perfor,adhere,nodes,status,differ,extent,surg,node4,time
0,1,1,43,0,0,0,5.0,1,2.0,3,0,1,1521
1,1,1,43,0,0,0,5.0,1,2.0,3,0,1,968
2,1,1,63,0,0,0,1.0,0,2.0,3,0,0,3087
3,1,1,63,0,0,0,1.0,0,2.0,3,0,0,3087
4,1,0,71,0,0,1,7.0,1,2.0,2,0,1,963
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853,1,1,76,0,0,1,1.0,1,3.0,3,0,0,851
1854,1,0,48,1,0,0,4.0,0,2.0,3,1,1,2072
1855,1,0,48,1,0,0,4.0,0,2.0,3,1,1,2072
1856,1,0,66,1,0,0,1.0,0,2.0,3,0,0,1820
1857,1,0,66,1,0,0,1.0,0,2.0,3,0,0,1820

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=7)

In [10]:
x_train

,study,sex,age,obstruct,perfor,adhere,nodes,status,differ,extent,surg,node4,time
109,1,1,61,0,0,0,2.0,0,2.0,2,1,0,2737
1594,1,0,36,1,0,0,3.0,0,2.0,3,0,0,2169
1331,1,1,66,1,0,0,4.0,1,2.0,3,0,0,20
168,1,1,45,0,0,0,8.0,1,3.0,3,0,1,736
1726,1,1,68,0,0,1,10.0,0,2.0,3,0,1,1968
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683,1,0,39,0,0,0,6.0,1,2.0,2,1,1,173
528,1,1,54,0,0,0,3.0,1,2.0,3,1,0,1279
563,1,0,70,0,0,1,4.0,0,3.0,3,0,0,2548
1282,1,1,64,0,0,0,3.0,1,3.0,3,0,0,1405
181,1,1,46,0,0,0,11.0,1,2.0,3,0,1,304

In [11]:
x_test

,study,sex,age,obstruct,perfor,adhere,nodes,status,differ,extent,surg,node4,time
58,1,1,80,0,0,0,1.0,1,3.0,3,0,0,133
293,1,1,76,0,0,0,1.0,1,2.0,3,1,0,1475
1297,1,0,55,0,0,0,6.0,1,2.0,3,0,1,458
476,1,1,76,0,0,0,1.0,0,2.0,3,0,0,2695
1778,1,1,61,0,0,0,8.0,1,2.0,3,0,1,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,1,0,64,0,0,0,1.0,1,2.0,3,0,0,916
1855,1,0,48,1,0,0,4.0,0,2.0,3,1,1,2072
1822,1,1,72,0,0,0,3.0,0,1.0,3,1,0,1971
262,1,0,79,1,0,0,2.0,1,3.0,3,0,0,326
1802,1,1,51,0,0,1,2.0,1,3.0,3,1,0,1046

In [12]:
LModel = LogisticRegression(max_iter=1000)

In [13]:
LModel.fit(x_train,y_train);

/home/akon_911/.conda/envs/env/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [14]:
y_predict = LModel.predict(x_test)

In [15]:
model_score = LModel.score(x_test,y_test)

## Confusion Metrics

In [18]:
metrics.confusion_matrix(y_test,y_predict)

array([[135,  79],
       [108, 122]])

## Classification Report

In [21]:
print(metrics.classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           1       0.56      0.63      0.59       214
           2       0.61      0.53      0.57       230

    accuracy                           0.58       444
   macro avg       0.58      0.58      0.58       444
weighted avg       0.58      0.58      0.58       444